.App {
  
}



.header {
  text-align: center;
}

.left-block {
  display: inline-block;
  margin-left: 30px;
  text-align: center;
}

.list-header > h3 {
  display: inline-block;
}

.list-header > button {
  margin-left: 20px;
}

.userList {
  
  max-height: 50em;
  overflow: auto;

}

.userInfo {
  max-width: 200px;
  float: right;
  margin-right: 45%;
  text-align: center;
}